<div class="jumbotron" ng-if="!isAuthenticated()">
  <h2>Para anunciar é necessário estar logado</h2>
  <br/>
  <p>Caso já tenha uma conta, clique <a ui-sref="login({redirect: 'ad-new'})">aqui</a> para acessá-la.</p>
  <br/>
  <p>Não tem uma conta ainda?</p>
  <p>Cadastra-se agora mesmo clicando <a ui-sref="login({redirect: 'ad-new'})">aqui</a>. É grátis.</p>
</div>
<div class="overlay" ng-class="{ 'off': !isAuthenticated() }">
	<form class="" name="adForm" novalidate>
	  <div class="form-group" ng-class="{ 'has-error' : adForm.title.$invalid }">
	    <label for="title" class="required">Título</label>
	    <input type="text" class="form-control" id="title" name="title" placeholder="Título" ng-model="ad.title" required
	    	maxlength="{{check.title.length.max}}">
	    <p class="help-block" ng-if="adForm.title.$valid">(Máximo de {{check.title.length.max}} caracteres, restando {{check.title.length.left()}})</p>
	    <p class="help-block" ng-if="adForm.title.$error.required">O preenchimento deste campo é obrigatório</p>
	  </div>
	  <div class="form-group" ng-class="{ 'has-error' : adForm.details.$invalid }">
	    <label for="details" class="required">Detalhes</label>
	  	<!-- <ng-quill-editor ng-model="message"></ng-quill-editor> -->
	    <!-- <div ng-model="article" quill></div> -->
	    <textarea class="form-control" id="details" name="details" placeholder="Detalhes" rows="7" ng-model="ad.details" required
	    	maxlength="{{check.details.length.max}}"></textarea>
	    <p class="help-block" ng-if="adForm.details.$valid">(Máximo de {{check.details.length.max}} caracteres, restando {{check.details.length.left()}})</p>
	    <p class="help-block" ng-if="adForm.details.$error.required">O preenchimento deste campo é obrigatório</p>
	  </div>
	  <!-- <div class="form-group">
	    <div class="row">
		    <div class="col-xs-5">
		    	<label for="estate">Estado</label>
		    	<input type="text" class="form-control" id="estate" placeholder="Estado" ng-model="ad.address.state">
		    </div>
		    <div class="col-xs-4">
		    	<label for="city">Cidade</label>
		    	<input type="text" class="form-control" id="city" placeholder="Cidade" ng-model="ad.address.city">
		    </div>
		    <div class="col-xs-3">
		    	<label for="zip_code">Cep</label>
		    	<input type="text" class="form-control" id="zip_code" placeholder="Cep" ng-model="ad.address.zip_code">
		  	</div>
	  	</div>
	  </div>
	  <div class="form-group">
	    <div class="row">
		    <div class="col-xs-5">
		    	<label for="street">Rua</label>
		    	<input type="text" class="form-control" id="street" placeholder="Rua" ng-model="ad.address.street">
		    </div>
		    <div class="col-xs-5">
		    	<label for="neighborhood">Bairro</label>
		    	<input type="text" class="form-control" id="neighborhood" placeholder="Bairro" ng-model="ad.address.neighborhood">
		  	</div>
		    <div class="col-xs-2">
		    	<label for="street_number">Número</label>
		    	<input type="text" class="form-control" id="street_number" placeholder="Número" ng-model="ad.address.street_number">
		    </div>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="row">
		    <div class="col-xs-12">
		    	<label for="complement">Complemento</label>
		    	<input type="text" class="form-control" id="complement" placeholder="Complemento" ng-model="ad.address.complement">
		    </div>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="row">
		    <div class="col-xs-4">
		    	<label for="estate">Email</label>
		    	<input type="text" class="form-control" id="estate" placeholder="Email" ng-model="ad.contact.email">
		    </div>
		    <div class="col-xs-4">
		    	<label for="city">Telefone</label>
		    	<input type="text" class="form-control" id="city" placeholder="Telefone" ng-model="ad.contact.phone">
		    </div>
		    <div class="col-xs-4">
		    	<label for="zip_code">Celular</label>
		    	<input type="text" class="form-control" id="zip_code" placeholder="Celular" ng-model="ad.contact.cellphone">
		  	</div>
	  	</div>
	  </div> -->
	  <div class="form-group">
	    <label for="foto">Fotos</label>
		  <div ngf-drop ngf-select ng-model="files" class="file-upload-drop-box" ngf-drag-over-class="'file-upload-dragover'" ngf-multiple="true" ngf-allow-dir="true"
	      accept="image/*" ngf-pattern="'image/*'">Arraste aqui as imagens desejadas ou então clique para selecionar os arquivos</div>
		</div>
	  <div class="form-group">
			<div ng-repeat="file in files" style="font:smaller">
		  	<div class="row">
			  	<div class="col-xs-12">
			  		<a href="#">{{file.name}}</a>
				  	<div class="progress" ng-hide="file.progress == 100">
				  		<div ng-class="{ 'progress-bar-striped active' : file.progress < 100, 'progress-bar-success': file.progress == 100 }"" class="progress-bar" style="width: {{file.progress}}%;">{{file.progress}}%</div>
				  	</div>
			  	</div>
			  </div>
		  </div>
	    <p class="help-block">(Máximo de {{check.files.qtd.max}} imagens. {{check.files.qtd.left()}} imagens restando)</p>
	    </ul>
	  </div>
	  <div class="form-group" ng-class="{ 'has-error' : adForm.$invalid, 'has-success' : adForm.$valid }">
	    <p class="help-block" ng-if="adForm.$valid">Todos os campos foram preenchidos corretamente.</p>
	    <p class="help-block" ng-if="adForm.$invalid">Existem erros no preenchindo do formulário. Corrija-os para continuar</p>
	   </div>
	  <!-- <button type="button" class="btn btn-secondary" ng-click="cancel()">Cancelar</button> -->
	  <button type="submit" class="btn btn-primary" ng-click="confirm()" ng-disabled="adForm.$invalid">Criar anúncio</button>
	</form>
</div>