<form class="" role="form" name="adForm">
  <div class="form-group">
    <label for="title" class="required">Título</label>
    <input type="text" class="form-control" id="title" placeholder="Título" ng-model="ad.title" ng-required="true"
    	ng-required-message="asdasdsd">
    <p class="help-block">(Máximo de 250 caracteres. 250 caracteres restando)</p>
  </div>
  <div class="form-group">
    <label for="details" class="required">Detalhes</label>
  	<!-- <ng-quill-editor ng-model="message"></ng-quill-editor> -->
    <!-- <div ng-model="article" quill></div> -->
    <textarea class="form-control" id="details" placeholder="Detalhes" rows="7" ng-model="ad.details" ng-required="true"></textarea>
    <p class="help-block">(Máximo de 1000 caracteres. 1000 caracteres restando)</p>
  </div>
  <div class="form-group">
    <div class="row">
	    <div class="col-xs-5">
	    	<label for="estate">Estado</label>
	    	<input type="text" class="form-control" id="estate" placeholder="Estado" ng-model="ad.address.state">
	    </div>
	    <div class="col-xs-4">
	    	<label for="city">Cidade</label>
	    	<input type="text" class="form-control" id="city" placeholder="Cidade" ng-model="ad.address.city">
	    </div>
	    <div class="col-xs-3">
	    	<label for="zip_code">Cep</label>
	    	<input type="text" class="form-control" id="zip_code" placeholder="Cep" ng-model="ad.address.zip_code">
	  	</div>
  	</div>
  </div>
  <div class="form-group">
    <div class="row">
	    <div class="col-xs-5">
	    	<label for="street">Rua</label>
	    	<input type="text" class="form-control" id="street" placeholder="Rua" ng-model="ad.address.street">
	    </div>
	    <div class="col-xs-5">
	    	<label for="neighborhood">Bairro</label>
	    	<input type="text" class="form-control" id="neighborhood" placeholder="Bairro" ng-model="ad.address.neighborhood">
	  	</div>
	    <div class="col-xs-2">
	    	<label for="street_number">Número</label>
	    	<input type="text" class="form-control" id="street_number" placeholder="Número" ng-model="ad.address.street_number">
	    </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
	    <div class="col-xs-12">
	    	<label for="complement">Complemento</label>
	    	<input type="text" class="form-control" id="complement" placeholder="Complemento" ng-model="ad.address.complement">
	    </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
	    <div class="col-xs-4">
	    	<label for="estate">Email</label>
	    	<input type="text" class="form-control" id="estate" placeholder="Email" ng-model="ad.contact.email">
	    </div>
	    <div class="col-xs-4">
	    	<label for="city">Telefone</label>
	    	<input type="text" class="form-control" id="city" placeholder="Telefone" ng-model="ad.contact.phone">
	    </div>
	    <div class="col-xs-4">
	    	<label for="zip_code">Celular</label>
	    	<input type="text" class="form-control" id="zip_code" placeholder="Celular" ng-model="ad.contact.cellphone">
	  	</div>
  	</div>
  </div>
  <!-- <div class="form-group">
    <label for="foto">Fotos</label>
    <input type="file" id="foto">
    <p class="help-block">(Máximo de 10 imagens. 10 imagens restando)</p>
  </div> -->
  <button type="button" class="btn btn-secondary" ng-click="cancel()">Cancelar</button>
  <button type="submit" class="btn btn-primary" ng-click="confirm()">Criar anúncio</button>
</form>