<div class="container">

	<div class="page-header">
		<h1 translate>PAGE.ADS.TITLE</h1>
	</div>

	<div class="jumbotron" ng-if="ads.length === 0">
		<h1>Ooops...</h1>
		<br/>
		<p>Nenhum anúncio encontrado</p>
		<p>:(</p>
		<br/>
		<p><a class="btn btn-primary btn-lg" ng-click="$back()">Voltar</a></p>
	</div>

	<div class="ads" ng-repeat="ad in ads">
		<!-- {{ad|json}} -->
		<div class="row ad" ui-sref="ad({ id: ad._id})" title="Clique para ver mais detalhes do anúncio">
			<div class="col-sm-3">
				{{ first_attachment = first_attachments[ad._id]; "" }}
				<div class="thumbnail">
					<img ng-src="{{ first_attachment ? first_attachment.secure_url : '/image/no-ad-image.png' }}" width="100%" height="100%" title="{{ first_attachment ? first_attachment.name + ' (' + first_attachment.type + ') ' + hrSize(first_attachment.size) : 'Anúncio sem imagem disponível' }}"/>
				</div>
			</div>
			<div class="col-sm-9">
				<div class="row ad-title">
					<div class="col-xs-8">
					<!-- {{ bookmarkedIndex = bookmarks.indexOf(ad._id); "" }}
					<i class="fa ad-bookmark" ng-class="{ 'fa-star' : bookmarkedIndex > -1, 'fa-star-o' : bookmarkedIndex == -1}" ng-click="bookmark(ad._id, bookmarkedIndex); $event.stopPropagation();" title="{{ !ad.bookmarkd ? 'Clique para marcar este anúncio como favorito': 'Clique para desmarcar este anúncio como favorito' }}"></i> -->
					<a>{{ad.title}}</a>
				</div>
				<div class="col-xs-4" style="text-align: right;">
					<!-- <b class="ad-value">R$ {{ad.value|number:2}}</b> -->
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 ad-detail">
					<span class="">{{ad.details}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-8">
					{{ user = users[ad.user_id]; "" }}
					<span class="ad-creation-info">Em {{ad.updated_at|date:'dd/MM/yyyy'}} às {{ad.updated_at|date:'hh:mm'}} por <a ui-sref="user({ id: user._id})" title="Clique para ver mais detalhes deste usuário" ng-click="$event.stopPropagation();">{{user.name}}</a></span>
				</div>
				<div class="col-xs-4 ad-value-info ad-value-selling" title="Anúncio de venda">
					<span class="ad-value-type">VENDA</span>
					<!-- <i class="fa fa-money"></i> -->
					<span class="ad-value">R$ {{ad.value|number:2}}</span>
					<!-- <div class="ad-evaluation" ng-click="$event.stopPropagation();" title="Clique para avaliar este anúncio">
					<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
				</div> -->
			</div>
		</div>
	</div>
</div>
</div>

</div>
