<div class="ad-image-gallery" ng-class="{ 'ad-image-gallery-wide' : wide }">
  <a class="ad-image-gallery-close-wide" ng-click="toggleWide(false)">
    <i class="fa fa-times"></i>
  </a>
  <div class="ad-image-gallery-selected">
    <a ng-if="!wide" ng-click="toggleWide(true)">
      <img ng-src="{{downloadUrl(selected_attachment._id)}}" title="{{'imageGallery.fullscreen.title'|translate}}">
    </a>
    <a ng-if="wide">
      <img ng-src="{{downloadUrl(selected_attachment._id)}}">
    </a>
  </div>
  <ul class="ad-image-gallery-bottom">
    <li class="ad-image-gallery-slider ad-image-gallery-slider-left">
      <a ng-click="previous()" title="{{'imageGallery.previous.title'|translate}}">
        <i class="fa fa-chevron-left"/>
      </a>
    </li>
    <li class="ad-image-gallery-vertical-scroll" ng-style="{ 'width': width - 80 + 'px' }">
      <div class="ad-image-gallery-photos" ng-style="{ 'width': attachments.length * 100 + 'px' }">
        <a ng-repeat="attachment in attachments" ng-click="select($index)">
          <img ng-src="{{downloadUrl(attachment._id)}}" ng-class="{ 'selected': attachment == selected_attachment }" title="{{'imageGallery.view.title'|translate}}">
        </a>
      </div>
    </li>
    <li class="ad-image-gallery-slider ad-image-gallery-slider-right">
      <a ng-click="next()" title="{{'imageGallery.next.title'|translate}}">
        <i class="fa fa-chevron-right"/>
      </a>
    </li>
  </ul>
</div>