<nav class="navbar navbar-default">

  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" translate>menu.ad</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="ads" translate>menu.ads</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a ui-sref="ad" translate>menu.advertise</a></li>
        <li class="dropdown" ng-if="isAuthenticated()">
          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">{{'menu.myAccount'|translate}}&nbsp;<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="adsUser" translate>menu.myAds</a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="logout()" translate>menu.exit</a></li>
          </ul>
        </li>
        <li ui-sref-active="active" ng-if="!isAuthenticated()"><a ui-sref="login" translate>menu.login</a></li></li>
      </ul>

    </div>

  </div>

</nav>