<nav class="navbar navbar-default">

	<div class="container-fluid">

		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Ad</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav">
				<li ui-sref-active="active"><a ui-sref="ads">Anúncios</a></li>
			</ul>

			<!-- <form class="navbar-form navbar-left" novalidate>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Pesquisar">
				</div>
				<button type="submit" class="btn btn-default">Buscar</button>
			</form> -->

			<!-- <ul class="nav navbar-nav navbar-left">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Últimas pesquisas <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Pesquisa 1</a></li>
						<li><a href="#">Pesquisa 2</a></li>
						<li><a href="#">Pesquisa 3</a></li>
						<li class="divider"></li>
						<li><a href="#">Ver todas</a></li>
						<li  class="divider"></li>
						<li><a href="#">Limpar histórico</a></li>
					</ul>
				</li>
			</ul> -->

			<ul class="nav navbar-nav navbar-right">
				<li ui-sref-active="active"><a ui-sref="ad-new">Anunciar</a></li>
				<li class="dropdown" ng-if="isAuthenticated()">
					<a class="dropdown-toggle" data-toggle="dropdown" ria-haspopup="true">Minha conta <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<!-- <li><a href="#">Meu cadastro</a></li> -->
						<li><a ui-sref="adsUser">Meus anúncios</a></li>
						<!-- <li><a href="#">Histórico</a></li> -->
						<!-- <li class="divider"></li> -->
						<li><a href="#" ng-click="logout()">Sair</a></li>
					</ul>
				</li>
				<li ui-sref-active="active" ng-if="!isAuthenticated()"><a ui-sref="login">Login</a></li></li>
			</ul>

		</div>

	</div>

</nav>